<title><%= pageTitle %></title>
<!-- SEO TAGS -->
<meta charset="UTF-8">
<meta name="description" content="SEO Content Goes Here">
<meta name="keywords" content="HTML, CSS, JavaScript, YourOwnKeyWordsHere">
<meta name="author" content="TCP">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<!-- STYLES -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/styles.css">

<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>


