<!DOCTYPE html>
<html>
<head><%- include ('partials/template/head.ejs') -%></head>
<body id="<%= pageID %>">
<%- include ('partials/template/top-navigation.ejs') -%>
<div class="container top-margin-main-content">
    <div class="row">
        <div class="col-sm-12">
            <article class="chat">
                <header class="chat-header">
                    <div class="h3 chat-title">Chat
                    </div>
                </header>
                <form name="chatForm" class="form-horizontal chat-form">
                    <div class="mb-3">
                        <label for="chat-username" class="form-label">Name</label>
                        <input type="text" class="form-control" id="chat-username" aria-describedby="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="chat-message" class="form-label">Message</label>
                        <textarea class="form-control" id="chat-message" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark float-end">Send</button>
                </form>
            </article>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body chat-display">
                    <p class="text-muted chat-text"></p>
                </div>
            </div>
        </div>
    </div>
</div><!-- container -->
<%- include ('partials/template/commons.ejs') -%>
</body>
</html>
