<!DOCTYPE html>
<html>
<head><%- include ('partials/template/head.ejs') -%></head>
<body id="<%= pageID %>">
<%- include ('partials/template/top-navigation.ejs') -%>
<div class="container top-margin-main-content">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="feedback-form-title">Send us feedback</h1>
            <form class="feedback-form">
                <div class="mb-3">
                    <label for="feedback-form-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="feedback-form-name" aria-describedby="Enter your name">
                </div>
                <div class="mb-3">
                    <label for="feedback-form-title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="feedback-form-title" aria-describedby="Title of your feedback">
                </div>
                <div class="mb-3">
                    <label for="feedback-form-message" class="form-label">Message</label>
                    <textarea class="form-control" id="feedback-form-message" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-dark float-end">Submit</button>
            </form>
        </div><!-- primary -->
        <aside class="col-sm-8">
            <div class="maincontent feedback">
                <h2 class="article-title">Recent Feedback</h2>
                <div class="feedback-messages"></div>
            </div>
        </aside><!-- secondary -->
    </div>
</div><!-- container -->
<%- include ('partials/template/commons.ejs') -%>
</body>
</html>
